@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Twinkle+Star&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.merienda-text {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
