/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  height: 20rem;
  width: 40rem;
  margin: 15% auto;
  background-color: #ececec;

  border: 20px solid #5b975b;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-image: repeating-linear-gradient(
      45deg,
      #5cb75c,
      #238c23 20px,
      #d7d7d7 20px,
      white 40px
    )
    20;

  .content {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 3;
    padding: 1rem;
    text-align: justify;
    font-size: 1.2rem;
    color: black;
    font-style: italic;
    line-height: 3.07rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-decoration-color: #5cb75c;
  }

  .sender-info {
    flex: 2;
    display: flex;
    padding: 1rem;

    .vl {
      border-left: 2px solid #5cb75c;
      height: 100%;
    }

    .sender-details {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .modal-text {
        padding: 8px;
        text-align: justify;
        font-size: clamp(0.7rem, 2.27vw, 1rem);
      }
    }
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-text {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: #5cb75c;
}

@media only screen and (max-width: 720px) {
  .modal-content {
    flex-direction: column-reverse;
    width: 90dvw;
    height: auto;

    .content {
      padding: 0.5rem 1rem 1rem;
    }

    .sender-info {
      padding-bottom: 0;

      .vl {
        display: none;
      }

      .sender-details {
        flex-direction: row-reverse;
        border-bottom: 2px solid #5cb75c;
        padding-bottom: 1rem;

        .modal-text {
          width: 100%;
          align-items: center;
        }
      }
    }
  }
}
